@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,200&display=swap');
.home-user{
    text-align: center;
    margin-top: 50px;
}
.carousel-container {
    margin-top: -50px;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .carousel-item {
    height: 100%;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
  .carousel-caption {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 55%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    max-width: 520px;

  }
  .text h2{
    color: black;
    font-weight: 700;
    font-size: 60px;
  }
  .text h4{
    color: rgb(202, 202, 202);
    font-weight: 200;
  }
  .carousel-item img{
    filter: saturate(1) brightness(0.7);
  }
  @media (max-width: 768px) {
    .carousel-caption {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .carousel-caption{
        width: 320px;
    }
    .text h2{
        font-weight: 700;
        font-size: 40px;
    }
  }
  